@using _23210202037.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="profile-header">
        <img src="~/img/profile/default-avatar.png" alt="Profil Resmi" class="profile-avatar">
        <span class="profile-name">@UserManager.GetUserName(User)</span>
    </div>
    <ul class="profile-menu">
        <li class="profile-menu-item">
            <a href="#" class="profile-menu-link">Ayarlar</a>
        </li>
        <li class="profile-menu-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="d-inline">
                <button type="submit" class="profile-menu-link btn btn-link">Çıkış Yap</button>
            </form>
        </li>
    </ul>
}
else
{
    <div class="profile-header">
        <span class="profile-name">Misafir</span>
    </div>
    <ul class="profile-menu">
        <li class="profile-menu-item">
            <a href="~/Identity/Account/Login" class="profile-menu-link">Giriş Yap</a>
        </li>
        <li class="profile-menu-item">
            <a href="~/Identity/Account/Register" class="profile-menu-link">Kayıt Ol</a>
        </li>
    </ul>
}