@{
    ViewBag.Title = "About";   
}
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<section class="about-content">
    <div class="container">
        <div class="row text-center">
            <!-- Sol Slider -->
            <div class="col-md-4">
                <div class="slider slider-left">
                    <div class="slides">
                        <div class="slide active">
                            <img src="~/img/canakkale-savasi/savas-1.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-2.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-3.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-4.jpeg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-5.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Orta İçerik -->
            <div class="col-md-4 col-sm-12">
                <h1 class="title">BİR YOLCUYA</h1>
                <p class="content">Dur yolcu! Bilmeden gelip bastığın <br>
                Bu toprak, bir devrin battığı yerdir. <br>
                Eğil de kulak ver, bu sessiz yığın <br>
                Bir vatan kalbinin attığı yerdir. <br>
                Bu ıssız, gölgesiz yolun sonunda <br>
                Gördüğün bu tümsek, Anadolu'nda <br>
                İstiklal uğrunda, namus yolunda <br>
                Can veren Mehmed'in yattığı yerdir. <br>
                Bu tümsek, koparken büyük zelzele, <br>
                Son vatan parçası geçerken ele, <br>
                Mehmed'in düşmanı boğduğu sele <br>
                Mübarek kanının akıttığı yerdir. <br>
                Düşün ki, haşrolan kan, kemik eti <br>
                Yaptığı bu tümsek, amansız çetin <br>
                Bir harbin sonunda bütün milletin <br>
                Hürriyet zevkini tattığı yerdir. <br>
                <em>Necmettin Halil ONAN</em> <br>
            </div>

            <!-- Sağ Slider -->
            <div class="col-md-4">
                <div class="slider slider-right">
                    <div class="slides">
                        <div class="slide active">
                            <img src="~/img/canakkale-savasi/savas-6.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-7.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-8.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-9.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                        <div class="slide">
                            <img src="~/img/canakkale-savasi/savas-10.jpg" alt="Atatürk" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/about.js" asp-append-version="true"></script>