@{

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-yH7gvLYdQeX0r+jYgpI3s/4I6aR2iXrjn2S/UvGgX0H2YVhcLwNbzh7O2HpLjwVviW6ObayCOYkB5tz/exC6Uw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-5"><i class="fab fa-facebook-f"></i>İletişim</h1>
<i class="w3-large w3-text-red w3-hover-blue w3-padding w3-xlarge w3-spin fa fa-home"></i>

            </div>
        </div>
    </div>

