<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

@{
    ViewData["Title"] = "İletişim";
}

<div class="form-container">
    <p class="title">Bize Ulaşın</p>
    <form id="contactForm" method="post" class="form">
        <div class="input-group">
            <input type="text" id="name" name="name" class="form-control form-input" aria-required="true" placeholder=" " required />
            <label for="name">İsim</label>
            <span class="text-danger"></span>
        </div>
        <div class="input-group">
            <input type="email" id="email" name="email" class="form-control form-input" aria-required="true" placeholder=" " required />
            <label for="email">Email</label>
            <span class="text-danger"></span>
        </div>
        <div class="input-group">
            <textarea id="message" name="message" class="form-control form-input" aria-required="true" placeholder=" " required></textarea>
            <label for="message">Mesaj</label>
            <span class="text-danger"></span>
        </div>
        <button id="contactSubmit" type="submit" class="sign">Gönder</button>
    </form>
</div>

<script src="~/js/contact.js" asp-append-version="true"></script>