@{
    ViewData["Title"] = "Home Page";
}
<section class="index-content">
    <div class="container text-center">
        <div class="row align-items-center zigzag-row">
            <div class="col">
                <h3>Çanakkale</h3>
                <p>Çanakkale, sadece Türkiye’nin değil, dünya tarihinin en önemli dönüm noktalarından birisidir. Bir yanda özgürlük ve bağımsızlık mücadelesi, diğer yanda kahramanlık ve fedakarlık. 1915’te yaşanan Çanakkale Savaşları, tüm insanlığa umut, direncin ve birlikteliğin ne demek olduğunu gösterdi. Gelibolu Yarımadası, tarihin izlerini taşıyan topraklarıyla, her adımda bir kahramanın destanını barındırır.</p>
                <p>Bu topraklar, 250.000'den fazla şehidin kanıyla sulandı. Türk, Anzak, İngiliz, Fransız, Hindistanlı askerler bu savaşta hayatlarını kaybetti. Çanakkale’nin derinliklerinde sadece bir savaş değil, aynı zamanda dostluğun, barışın ve insanlık onurunun simgesi olan bir iz bırakıldı.</p>
                <p>Sizleri, bu destanın izlerini sürmeye ve Çanakkale'nin tarihsel, kültürel ve duygusal zenginliğini keşfetmeye davet ediyoruz. Çanakkale, bir milletin kaderini şekillendiren, insanlığın onurunu yücelten bir hatıra olarak sonsuza kadar yaşayacak.</p>
            </div>
            <div class="col bos-div">
                <br>
            </div>
        </div>
        <div class="row align-items-center zigzag-row">
            <div class="col bos-div">
                <br>
            </div>
            <div class="col">
                <h3>Çanakkale</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quasi, voluptate fugiat voluptas esse sapiente adipisci nulla totam cupiditate voluptates earum ex quidem, accusamus suscipit quos est tenetur ea eligendi.</p>
            </div>
        </div>
    </div>
</section>