@page
@model _23210202037.Areas.Identity.Pages.Account.AccountModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="container">
    <div class="card">
        <div class="inner-box" id="card">
            <div class="card-front">
                <h2 class="title">Log In</h2>
                <form id="loginForm" method="post" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger message" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="LoginInput.Email" class="form-control input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="LoginInput.Email" class="form-label"><span>Email</span></label>
                        <span asp-validation-for="LoginInput.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="LoginInput.Password" class="form-control input" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="LoginInput.Password" class="form-label"><span>Password</span></label>
                        <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="LoginInput.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="LoginInput.RememberMe" />
                            @Html.DisplayNameFor(m => m.LoginInput.RememberMe)
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary submit">Log in</button>
                    <p class="signin">Don't have an account? <a href="#" onclick="openRegister()">Register</a></p>
                </form>
            </div>
            <div class="card-back">
                <h2 class="title">Register</h2>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger message" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterInput.Email" class="form-control input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="RegisterInput.Email" class="form-label"><span>Email</span></label>
                        <span asp-validation-for="RegisterInput.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterInput.Password" class="form-control input" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="RegisterInput.Password" class="form-label"><span>Password</span></label>
                        <span asp-validation-for="RegisterInput.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterInput.ConfirmPassword" class="form-control input" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="RegisterInput.ConfirmPassword" class="form-label"><span>Confirm Password</span></label>
                        <span asp-validation-for="RegisterInput.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="btn btn-primary submit">Register</button>
                    <p class="signin">Already have an account? <a href="#" onclick="openLogin()">Log In</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function openRegister() {
    document.getElementById('card').style.transform = 'rotateY(180deg)';
}

function openLogin() {
    document.getElementById('card').style.transform = 'rotateY(0deg)';
}
</script>