@page
@model _23210202037.Areas.Identity.Pages.Account.LoginModel

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Giriş";
}

<div class="form-container">
    <p class="title">Login</p>
    <form id="loginForm" method="post" class="form">
        <div asp-validation-summary="ModelOnly" class="message" role="alert"></div>
        <div class="input-group">
            <input asp-for="Input.UserName" class="form-control form-input" aria-required="true" placeholder=" " />
            <label asp-for="Input.UserName">Kullanıcı Adı</label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="Input.Password" class="form-control form-input" autocomplete="current-password" aria-required="true" placeholder=" " />
            <label asp-for="Input.Password">Şifre</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <button type="submit" class="sign">Giriş</button>
    </form>
    <div class="social-message">
        <div class="line"></div>
        <br>
        <div class="line"></div>
    </div>
    <div class="social-icons">
        @if (Model.ExternalLogins != null)
        {
            @foreach (var externalLogin in Model.ExternalLogins)
            {
                <form asp-page="./ExternalLogin" asp-route-provider="@externalLogin.Name" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="d-inline">
                    <button type="submit" class="icon" name="provider" value="@externalLogin.Name" title="Log in using your @externalLogin.DisplayName account">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                            <!-- Icon path can be added here if needed -->
                        </svg>
                    </button>
                </form>
            }
        }
    </div>
    <p class="signup">Hesabınız yok mu? <a href="~/Identity/Account/Register" id="openRegister">Kayıt ol</a></p>
</div>

