/* _content/23210202037/Views/Shared/_Layout.cshtml.rz.scp.css */
/* HTML RESET AREA */
*[b-f4ftar9hba] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

ol[b-f4ftar9hba], ul[b-f4ftar9hba] {
  list-style: none;
}

a[b-f4ftar9hba] {
  text-decoration: none;
  color: inherit;
}

img[b-f4ftar9hba], video[b-f4ftar9hba] {
  max-width: 100%;
  height: auto;
  display: block;
}

table[b-f4ftar9hba] {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS */

/* HEADER CSS */
html[b-f4ftar9hba], body[b-f4ftar9hba] {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  height: 100%; /* Sayfanın tamamını kapsaması için */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
/* Varsayılan (Light) Tema */
html[b-f4ftar9hba] {
  height: auto;
}
body[b-f4ftar9hba] {
  background-color: #ffffff;
  color: #333333;
  min-height: auto; 
  height: auto;
}
.light-bg[b-f4ftar9hba] {
  background-color: #f0f0f0;
}

.light-text[b-f4ftar9hba] {
  color: #333333;
}

/* Dark Tema */
body.dark-mode[b-f4ftar9hba] {
  background-color: #001b22;
  color: #ffffff;
  min-height: auto; /* Sayfanın tamamını kapsaması için */
  height: auto; /* İçeriğe göre otomatik yükseklik */
  height: 100%;
  min-height: 100%;
}

.dark-mode .light-bg[b-f4ftar9hba] {
  background-color: #001b22;
}

.dark-mode .light-text[b-f4ftar9hba] {
  color: #ffffff;
}

.dark-mode a[b-f4ftar9hba] {
  color: #ffffff;
}

.dark-mode i[b-f4ftar9hba] {
  color: #ffffff;
}

.dark-mode .layout-social-icons i[b-f4ftar9hba] {
  color: #ffffff;
}

.dark-mode .layout-footer[b-f4ftar9hba] {
  background-color: #001b22;
  color: #ffffff;
}

.layout-header[b-f4ftar9hba] {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.layout-container[b-f4ftar9hba] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
  max-width: 1600px;
  border: 1px solid black;
  flex: 1; 
  position: relative; 
}

.layout-nav-wrapper[b-f4ftar9hba] {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
}

.layout-logo[b-f4ftar9hba] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout-logo img:hover[b-f4ftar9hba] {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.layout-logo a[b-f4ftar9hba] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-logo img[b-f4ftar9hba] {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.layout-img-container[b-f4ftar9hba] {
  width: 100%;
  min-width: fit-content;
}

.layout-logo span[b-f4ftar9hba] {
  font-size: 24px;
  font-weight: 600;
  padding: 18px;
}

.layout-nav[b-f4ftar9hba] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.layout-social-icons[b-f4ftar9hba] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  height: 100%;
}
.layout-social-icons i[b-f4ftar9hba] {
  font-size: 24px;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.layout-social-icons i:hover[b-f4ftar9hba] {
  transform: scale(1.4);
}

/* Tema Değiştirme İkonu */
.theme-switcher[b-f4ftar9hba] {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

#theme-icon[b-f4ftar9hba] {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

#theme-icon.icon-transition[b-f4ftar9hba] {
  transform: rotate(180deg);
}

#theme-icon:hover[b-f4ftar9hba] {
  transform: scale(1.2);
}
/* FOOTER CSS */
.layout-footer[b-f4ftar9hba] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 18px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid black;
}
